.card-Strength
{
	border: 2px solid #666666;
}

.card-Agility
{
	border: 2px solid #93C07D;
}

.card-Intelligence
{
	border: 2px solid #6FA8DC;
}

.card-Charisma
{
	border: 2px solid #CC4125;
}

.card-Constitution
{
	border: 2px solid #E69138;
}

.card {
	background: white;
	width: 200px;
	height: 250px;
	position: relative;
	float: left;
	margin: 0 0 5px 5px;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card_header {
	border: 1px solid gray;
	width: 200px;
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

.card_header span.card_name {
	float: left;
	width: 70%;
}

.card_header span.card_cost {
	float: right;
	margin-right: 2px;
}

.card_stats {
	margin: 0 5px;
}

.card_image {
	margin: 5px auto;
	height: 100px;
	width: 185px;
	border: 1px dotted #EA9999;
}

.card_stats div.card_lore {
	font-family: cursive;
	font-size: 10px;
	color: #000000;
}

.card_values {
	position: absolute;
	bottom: 5px;
	right: 2px;
}

.card_footer {
	font-size: 9px;
	color: #000000;
	text-align: center;
	width: 200px;
	position: absolute;
	bottom: 0;
}

.card_pas_act,
.card_promotion
{
	font-size: 10px;
}

ul.card_pas_act,
ul.card_pas_act li
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.card h5 {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.card_name
{
    font-size: 5px;
}
