/*
body{
    background-image: url(/static/static/imgs/lava-rock.gif);

}

.wrapper{
    background-color: white;
    width: 980px;
    margin: 0 auto;
}
*/

.card-container{
    width: 225px;
    height: 317px;
    border: 7px solid black;
    box-shadow: 7px 7px 3px #888;
    border-radius: 7px;
    margin: auto;
}

.card-placeholder{
    width: 106px;
    height: 150px;
    border: 2px dashed gray;
    border-radius: 5px;
}

.card-player_hand{
    display:block;
    float:left;
    border:2px solid #666;
    margin-right: 10px;
    position:relative;
    width: 117px;
    height: 165px;
    border-radius: 5px;
    box-shadow: 7px 7px 3px #888;
    background-color: #db7093;
}

.card-turned{
    width: 106px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    background:
        linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #999 78%),
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
        #444;
    background-size: 16px 48px;
}



.card-placeholder{
    width: 100%;
    height: 150px;
    border: 2px dashed gray;
    border-radius: 5px;
}

.card-inside{
    height: 98%;
    padding: 7px 7px 0px 7px;
}

.card-Charisma{
    background-color: #f06c56;
}

.card-Intelligence{
    background-color: #62b6e6;
}

.card-Strength{
    background-color: #797979;
}

.card-Constitution{
    background-color: #ffce1b;
}

.card-Agility{
    background-color: #92ee6f;
}

.card-Land{
    background-color: #8b4301;
}

.card-inside div{

}

.card-inside ul{
    list-style: none;
}

.card-inside .card_header{
    font-weight: bold;
    box-shadow: 2px 2px 1px #888;
    border: 1px solid black;
    border-radius: 3px;
    width: 102%;
    z-index: 2;
    position: relative;
    right: 2px;
    background-color: snow;
    opacity: 0.75;
}

.card-inside .card_info{
    font-weight: bold;
    box-shadow: 2px 2px 1px #888;
    border: 1px solid black;
    border-radius: 3px;
    top: -2px;
    width: 102%;
    z-index: 2;
    position: relative;
    right: 2px;
    background-color: snow;
    opacity: 0.75;
}

.card-inside .card_image{
    border: 1px solid black;
    border-radius: 1px;
    width: 100%;
    height: 35%;
    background-color: white;
}

.card-inside .card_info_box{
    border: 1px solid black;
    border-radius: 1px;
    width: 98%;
    height: 48%;
    padding-left: 3px;
    background-color: white;
    opacity: 1;
}

.card_values{
    top: -30px;
    width: 99%;
    z-index: 2;
    position: relative;
    font-weight: bolder;
}

.card_text, .card_promotion, .card_info_box{
    font-size: small;
}

.card_lore{
    font-size: smaller;
}

.card_type, .card_name{
    padding-left: 3px;
}

.card_cost, .card_rarity{
    float: right;
    padding-right: 5px;
}
.Legendary:before{
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 2 0 0 -13px;
    position: absolute;
    color: orangered;
}

.Rare:before{
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 2 0 0 -13px;
    position: absolute;
    color: orangered;
}

.Uncommon:before{
    content: "\f089";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 2 0 0 -13px;
    position: absolute;
    color: orangered;
}

.card-actions{
    opacity: 0.75;
    z-index: 2000;
    position: absolute;
    display: none;
    background-color: black;
    border-radius: 4px;
    margin-top: 60px;
}

.equipment_values {
    top: -30px;
    width: 99%;
    z-index: 2;
    position: relative;
    font-weight: bolder;
}

.durability {
    float: right;
    margin-right: 8px;
    color: #000000;
    border-radius: 4px;
    border: 1px solid;
    padding: 2px;
}

.extra_damage {
    float: right;
    margin-right: 8px;
    color: #000000;
    border-radius: 4px;
    border: 1px solid;
    padding: 2px;
}

.power {
    float: right;
    margin-right: 8px;
    color: #000000;
    border-radius: 4px;
    border: 1px solid;
    padding: 2px;
}

.hp {
    float: right;
    margin-right: 8px;
    color: #000000;
    border-radius: 4px;
    border: 1px solid;
    padding: 2px;
}

.shield {
    float: right;
    margin-right: 8px;
    color: #000000;
    border-radius: 4px;
    border: 1px solid;
    padding: 2px;
}

.icon-rotate-225:before{
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2.5);
}

.card_symbol_Intelligence:after{
    float: right;
    content: "\f02d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 1 3 0 0px;
    color: black;
}
.card_symbol_Strength:after{
    float: right;
    content: "\f0e7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 1 3 0 0px;
    color: black;
}
.card_symbol_Constitution:after{
    float: right;
    content: "\f0a3";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 1 3 0 0px;
    color: black;
}
.card_symbol_Agility:after{
    float: right;
    content: "\f06c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 1 3 0 0px;
    color: black;
}
.card_symbol_Charisma:after{
    float: right;
    content: "\f06d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin: 1 3 0 0px;
    color: black;
}