{%- macro form_field_label(field) -%}
<label for="{{ field.id }}">{{ field.label.text }}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
{% if field.description %}
<span class="descr">{{ field.description }}</span>
{% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
{% if field.errors %}
<div>
    {%- for error in field.errors -%}
    <span class="label important">{{ error }}</span>
    {%- endfor -%}
</div>
{% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
<div class="input">
    <label>
        {{ field(**kwargs) }}
        <span>{{ field.label.text }}</span>
        {{ form_field_description(field) }}
        {{ form_field_errors(field) }}
    </label>
</div>
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Cancel", submit_class="primary") -%}
<div class="actions">
    <input type="submit" class="ink-button {{submit_class}}" value="{{submit_title}}">
    &nbsp;
    <button type="reset" class="ink-button">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro form_field(field) -%}
{%- if field.flags.required -%}
<div class="control required">
{% else%}
<div class="control">
{% endif %}
    {% if field.type == 'HiddenField' %}
    {{ field() }}
    {% else %}
    {% if field.type == 'BooleanField' %}
    {{ form_field_boolean(field, **kwargs) }}
    {% else%}
    {{ form_field_label(field) }}
        {% if field.type == 'RadioField' %}
        {{ field(class='radio-group', **kwargs) }}
        {% else %}
        {{ field(**kwargs) }}
        {% endif %}
        {{ form_field_description(field) }}
        {{ form_field_errors(field) }}
    {% endif %}
    {% endif %}
</div>
{%- endmacro -%}

{%- macro form_fields(fields, class=None, legend=None) -%}
<fieldset {% if class %}class="{{class}}"{% endif %}>
{% if legend %}
<legend>Create {{legend}} Card</legend>
{% endif %}
{% for field in fields %}
{% if field.type == 'HiddenField' %}
{{ field() }}
{% else %}
{{ form_field(field) }}
{% endif %}
{% endfor %}
</fieldset>
{%- endmacro -%}