{% extends "index.tpl" %}
{% block content %}
    {% for card in deck %}  
    <!--pre>
        {{ card }}
    </pre-->
        <div class="well card card-{{ card.card_type }}">
            <header class="card_header">
                <span class="card_name">{{ card.card_type }}-{{ card.name }}</span>
                <span class="card_cost">{{ card.cost }}</span>
            </header>
            <div class="card_image">
            </div>
            <div class="card_stats">
                <div class="card_lore">
                    <span>
                    </span>
                </div>
                {% if card.active|length or card.passive|length %}
                    <ul class="card_pas_act">
                        {% for act in card.active %}
                            <li class='icon-eye-open icon-small'>{{ act }}</li>
                        {% endfor %}
                        {% for pass in card.passive %}
                            <li class="icon-leaf icon-small">{{ pass }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card_promotion">
                    <h5>Promotion</h5>
                    <span>Cost {{ card.promotion['cost'] }}</span>
                    <span>HP<i class="icon-plus-sign"></i>{{ card.promotion['hp'] }}</span>
                    <span>Attack<i class="icon-plus-sign"></i>{{ card.promotion['attack'] }}</span>
                    {% if card.promotion['active']|length or card.promotion['passive']|length %}
                        <ul class="card_pas_act">
                            {% for act in card.promotion['active'] %}
                                <li class='icon-eye-open icon-small'>{{ act }}</li>
                            {% endfor %}
                            {% for pass in card.promotion['passive'] %}
                                <li class="icon-leaf icon-small">{{ pass }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="card_values">
                    <span>{{ card.attack }}</span>
                    /
                    <span>{{ card.hp }}</span>
                </div>
            </div>
            <input type="hidden" name'card_name' value="{{ card.name }}" />
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <script language="javascript" src="/static/static/js/jquery-1.9.1.min.js"></script>
    <script language="javascript" src="/static/static/js/card_select.js"></script>
{% endblock %}
